:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/brickwall.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ***************************************************************************CSS Code for Home Page */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-align {
  text-align: center;
  padding-bottom: 50px;
}

.container a {
  margin-bottom: 10px;
}

.panel {
  text-align: center;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 20px;
  margin: 20px;
}

.expanded {
  max-height: 220px;
}

h1 {
  font-size: 80px;
  font-family: "Yellowtail", sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
}

.panel p {
  font-family: "Yellowtail", sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  color: white;
  font-weight: 500;
}

.accordion {
  margin-top: 10px;
}

/* Code used from css-tricks.com */

.neon-button {
  margin-top: 2rem;
  cursor: pointer;
  background: none;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.neon-text-blue {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
    0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

.neon-text-pink {
  text-decoration: none;
  font-size: 3.2rem;
  font-weight: 400;
  font-family: "Sacramento", sans-serif;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe,
    0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
}

.neon-button:hover {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #5271ff,
    0 0 0.8rem #5271ff, 0 0 2.8rem #5271ff, inset 0 0 1.3rem #5271ff;
}

/* ****************************************************************************Game.html CSS */

h2 {
  color: #fff;
  font-size: 50px;
  font-family: "Yellowtail", sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.2rem solid rgb(188, 19, 254);
}

#question {
  margin-bottom: 50px;
}

.choice-prefix {
  color: #fff;
  margin: 0;
  padding: 1.5rem 2.5rem;
  background-color: #bc13fe;
}

.choice-text {
  color: #fff;
  padding: 1.5rem;
  width: 100%;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #5271ff,
    0 0 0.8rem #5271ff, 0 0 2.8rem #5271ff, inset 0 0 1.3rem #5271ff;
}

.correct {
  background-color: #4caf50;
  color: white;
}

.incorrect {
  background-color: #ff5733;
  color: white;
}

.answer-outcome {
  color: #fff;
  margin: 0;
  padding: 1.5rem 2.5rem;
  text-align: center;
}

.correct-icon {
  display: none;
}

.correct .correct-icon {
  display: block;
}

.incorrect-icon {
  display: none;
  font-size: 30px;
}

.incorrect .incorrect-icon {
  display: block;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 2rem;
}

.box {
  border: #bc13fe solid;
  margin: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.progress-counter {
  background-color: #bc13fe;
}

/* *************************************************************************End.hmtl styling */

.final-score {
  display: flex;
  flex-direction: column;
  text-align: center;
}
